body {
  font-family: verdana;
  color: rgb(0,0,0);
  margin: 0px;
  background-color: rgb(229,254,255);
  font-size: 60%;
  text-align: center
}

ul{
text-align: center;
  background: rgba(255, 128, 128);
  color: white;
  font-family: "Amatic SC", "arial";
  font-size: 30px;
}

.topspace{
  padding-top: 30px;
}

a{
  color: white;
  text-decoration: none;
}

li{
  display: inline;
  padding: 0px 50px 0px 50px;
}

#home{
  text-decoration: underline;
}

img{
  border-radius: 50%;
}

p{
  text-align: center;
  color: white;
  font-family: caveat;
  font-size: 35px;
  background: rgba(254, 127, 112, 0.7);
  width: 500px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding-top: 25px;
  border-radius: 25px;
}
}
img {
      display: flex;
      padding: 20px;
      margin: 0 auto;
      border-radius: 130px;
}
Contact form

input[type=text], select, textarea, {
  font-size: 30%;
  width: 130%;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) *


}
