body {
  font-family: Tahoma;
  color: rgb(0,0,0);
  margin: 0px;
 background-image: url("aboutbackground.png");
 background-repeat: no-repeat;
background-size: 100% x 100%;
}

ul{
text-align: center;
  background: rgba(255, 128, 128);
  color: black;
  font-family: "Tahoma";
  font-size: 30px;
}


li{
  display: inline;
  padding: 0px 50px 0px 50px;
}


img{
  border-radius: 40%;
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1{
  font-size: 30px;
  text-align: center;
  background: rgba(254, 127, 112, 0.7);
  width: 500px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 15px;
  border-radius: 25px;
}
h2{
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
  color: black;
  font-family: "tahoma";
  font-size: 20px;
  width: 700px;
  height:10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 5px;
  border-radius: 15px;
}
}
