body {
  font-family: Garamond;
  color: rgb(0,0,0);
  margin: 0px;
 background-image: url("1.jpg");
 background-repeat: no-repeat;
background-size: cover;
}

ul{
text-align: center;
  background: rgba(29, 137, 183, 1);
  color: black;
  font-family: "Garamond";
  font-size: 30px;
}

div{
  text-align: center;
}

  ul2{
  display: inline-block;
  background: rgba(255, 255, 255, 255);
  color: black;
  font-family: "Garamond";
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

li{
  display: inline;
  padding: 0px 50px 0px 50px;
}


img{
  border-radius: 40%;
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1{
  font-size: 30px;
  text-align: center;
  background: rgba(29, 137, 183, 1);
  width: 500px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 15px;
  border-radius: 25px;
}
h2{
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
  color: black;
  font-family: "Garamond";
  font-size: 20px;
  width: 700px;
  height:10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 5px;
  border-radius: 15px;
}

p2{
  display: inline-block;
  background: rgba(255, 255, 255, 255);
  color: black;
  font-family: "Garamond";
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
